<div *ngIf="hero">

<mat-toolbar>{{ hero.name | uppercase }} </mat-toolbar>
<p>
    The power is YOURs!! , {{hero.name}}
</p>

<section class="mycard">
    <mat-card class="applybg" [ngStyle]="{'background-image': 'url(./assets/characters/' + hero.type + '.png)'}">
        <mat-card-title>Hero id: {{hero.id}}</mat-card-title>
        <br>
        <mat-card-content>
        <div class="details-form">
            <mat-form-field>
                <input matInput [(ngModel)]="hero.name" placeholder="Name of the hero:" >
            </mat-form-field>
            <mat-form-field>      <!--im adding new fields here-->
                <mat-select  [(ngModel)]="hero.type"  placeholder="Select Race">
                    <mat-option [value]="race.name"  *ngFor="let race of races">{{race.name}}</mat-option>
                </mat-select>
                <mat-hint align="end">Select a race ^</mat-hint>
            </mat-form-field>

            <mat-form-field>      <!--im adding new fields here-->
                    <textarea matInput placeholder="Description:"  [(ngModel)]="hero.details"></textarea>
            </mat-form-field>       
        </div>
        </mat-card-content>
        <mat-card-footer style="padding:10px;">	
            <button mat-button (click)="goBack()">Back</button>
            <button mat-button (click)="save()">Save</button>
        </mat-card-footer>
    </mat-card>
</section>

</div>