<div class="mat-typography app-frame mat-app-background" fxLayout="column">
  <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidepanel.toggleState()">
          <mat-icon>menu</mat-icon>
      </button>
      <span class="toolbar-header">{{title}}</span>
  </mat-toolbar>
  <div class="app-body" fxFlex fxFill fxLayout="row" fxLayoutAlign="start stretch">
      <app-sidebar></app-sidebar>
      <div fxFlex class="app-panel">
        <router-outlet></router-outlet>
        <app-messages></app-messages>  
      </div>
  </div>
</div>
      