<mat-nav-list [@slide]="sidepanel.state | async" class="sidepanel">
  <a mat-list-item routerLink="/dashboard" routerLinkActive="active" [@slide]="state">
      <mat-icon>home</mat-icon> <span [@reveal]="state"> Dashboard</span>
  </a>
  <a mat-list-item routerLink="/heroes" routerLinkActive="active" [@slide]="state">
      <mat-icon>android</mat-icon> <span [@reveal]="state"> Heroes</span>
  </a>
</mat-nav-list>