<div *ngIf="messageService.messages.length" class="stickfooter" draggable>
    
    <mat-toolbar>
        Messages
        <span class="flexit"></span>
          <i class="fa fa-close" style="cursor:pointer" (click)="messageService.clear()"></i>
    </mat-toolbar>
    <section class="mycard">
        <mat-card>
            <mat-card-content>
                <div *ngFor='let message of messageService.messages'> {{message}} </div>
            </mat-card-content>
        </mat-card>
    </section>

</div>