<mat-toolbar>Top Heroes</mat-toolbar>
<p>
    Welcome to Tour of heroes fame page.
</p>

<section class="mycard">
    <mat-card>
        <mat-card-content>
          <div class="grid grid-pad">
            <a *ngFor="let hero of heroes" class="col-1-4"
                routerLink="/detail/{{hero.id}}">
              <div class="module hero"
              [ngStyle]="{'background-image': 'url(./assets/characters/' + hero.type + '.png)'}"
            >
                  <div class="vertical">{{hero.name}}</div>
              </div>
            </a>
          </div>
          <div class="clearfix">Select a hero to view details</div>
        </mat-card-content>
    </mat-card>
</section>

<section class="mycard">
    <mat-card>
        <mat-card-content>
           <app-hero-search></app-hero-search>
        </mat-card-content>
    </mat-card>
</section>
