/*Going to overide the css or orignal TOH to my custom one*/
[class*='col-'] {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  [class*='col-']:last-of-type {
    padding-right: 0;
  }
  a {
    text-decoration: none;
  }
  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  h3 {
    text-align: center; margin-bottom: 0;
  }
  h4 {
    position: relative;
  }
  .grid {
    margin: 0;
  }
  .col-1-4 {
    width: 25%;
  }
  .module {
    padding: 0px;
    text-align: center;
    color: #eee;
    max-height: 400px;
    min-width: 150px;
    background-color: #212121;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
  }
  .vertical {
    position: relative;
    padding: 10px 10px 5px 10px;
    border-radius: 5px 5px 0 0;
    float: right;
    -moz-transform: rotate(270deg);  /* FF3.5+ */
    -o-transform: rotate(270deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-90deg);  /* Saf3.1+, Chrome */
    -moz-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    font-weight:bolder;
    letter-spacing:0.1em;
    background: #000000
} 
  .module:hover {
    background-color: #c2185a;
    cursor: pointer;
    color: #eee;
  }

  .grid-pad {
    padding: 10px 0;
  }

  .grid-pad > [class*='col-']:last-of-type {
    padding-right: 20px;
  }

  @media (max-width: 600px) {
    .module {
      font-size: 10px;
      max-height: 145px; 
    }

    .vertical{
      padding: 5px 10px 5px 10px; 
      font-size:10px;
      
    }
  }

  @media (max-width: 1024px) {
    .grid {
      margin: 0;
    }
    .module {
      min-width: 60px;
    }
  }

  .clarfix {
    clear:both
  }