@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

html, body, app-root, .app-frame {
    overflow: hidden;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    color: #ffffff;
}
hr {
    border: 1px solid #525252;
    margin-bottom: 25px;
}
.flexit{
    flex: 1 1 auto;
}
.details-form {
    display: flex;
    flex-direction: column;
}
.details-form > * {
    width: 100%;
}
.applybg {
    background-repeat: no-repeat;
    background-position: right;
}
.stickfooter{
    position:absolute;
    z-index:99999;
    width:300px;
    background:#999;
    border: 2px dashed #6b6b6b;
    right: 0;
    bottom: 0;
    height: 110px;
}
.stickfooter mat-toolbar {
    height: 30px;
    padding: 15px;
    font-size: 12px;
}
.stickfooter button {
    font-size: 12px;
}
.stickfooter section {
    margin: 0px;
}
.stickfooter mat-card{
    padding: 0px;
    height: 80px;
    overflow: auto;
}
.stickfooter mat-card-content{
    padding: 2px;
    font-size: 10px;
    text-indent: 0.5em;
}
.app-body {
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
}

.app-panel {
    overflow: auto;
    height: 100%;
}

.mat-typography h1,
.mat-typography h2,
.mat-typography h3,
.mat-typography h4,
.mat-typography h5,
.mat-typography h6,
.mat-typography p,
md-card.mat-card,
p.mat-caption,
md-input-container,
md-select {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    color:#ffffff;
}

.mycard {
    margin: 20px;
}

div.cdk-overlay-container {
    background-color: transparent;
    z-index: 9999;
}

md-nav-list.mat-nav-list.sidepanel {
    background-color: #555;
}
