<section class="mycard">
        <mat-card >
            <mat-card-title>Add a new hero</mat-card-title>
            <br>
            <mat-card-content>
            <div class="details-form">
                <mat-form-field>
                    <input matInput #heroName  placeholder="Name of the hero:" >
                </mat-form-field>
    
                <mat-form-field>    <!--im adding new fields here-->
                    <mat-select placeholder="Select Race" #heroRace>
                        <mat-option  [value]="race.name"  *ngFor="let race of races">{{race.name}}</mat-option>
                    </mat-select>
                    <mat-hint align="end">Select a race ^</mat-hint>
                </mat-form-field>
    
                <mat-form-field>      <!--im adding new fields here-->
                        <textarea #heroDetail matInput placeholder="Description:"  ></textarea>
                </mat-form-field>       
            </div>
            </mat-card-content>
            <mat-card-footer style="padding:10px;">	
                <button mat-button (click)="add(heroName.value,heroRace.value,heroDetail.value); heroName.value='';heroRace.value='';heroDetail.value=''">Add</button>
            </mat-card-footer>
        </mat-card>
    </section>
    
    <mat-nav-list>
            <h3 mat-subheader>My Hero list:</h3>
            
            <mat-list-item *ngFor="let hero of heroes"  style="cursor:pointer" routerLink="/detail/{{hero.id}}">
                <img matListAvatar src="/assets/characters/{{hero.type}}.png" alt="...">
                <mat-chip-list>
                    <mat-chip matLine color="primary"> #{{hero.id}} </mat-chip>
                </mat-chip-list>
                <h3 matLine>  {{hero.name}} </h3>
                <p matLine>
                    <span> {{hero.type}} </span>
                    <span style="color:#d0bec5"> -- {{hero.details}} </span>
                </p>
                <button mat-button color="danger" title="delete hero" (click)="delete(hero)">x</button>    
            </mat-list-item>
              
    </mat-nav-list>