<div id="search-component">

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Enter a hero name" #searchBox id="search-box" (keyup)="search(searchBox.value)"  >
  </mat-form-field>

  <mat-nav-list>
      <h3 mat-subheader>Search result:</h3>
      
      <mat-list-item *ngFor="let hero of heroes$ | async"  style="cursor:pointer" routerLink="/detail/{{hero.id}}">
          <img matListAvatar src="/assets/characters/{{hero.type}}.png" alt="...">
          <h3 matLine>  {{hero.name}} </h3>
          <p matLine>
              <span> {{hero.type}} </span>
              <span style="color:#d0bec5"> -- {{hero.details}} </span>
          </p>
      </mat-list-item>
        
  </mat-nav-list>
  
</div>
